*{
    padding: 0;
    margin: 0;
}

.responsiv-test{
    background: red;
    color: white;
    font-size: 50px;
}

@media (max-width: 1200px) {
    .responsiv-test{
        background-color: blue;
        color: orange;
    }

}
@media (max-width: 768px) {
    .responsiv-test{
        background-color: rgb(60, 255, 0);
        color: rgb(224, 36, 36);
        font-size: 20px;
    }

}

@media (max-width: 576px){
    .responsiv-test{
        background-color: rgb(255, 230, 0);
        color: rgb(247, 197, 197);
        font-size: 15px;
    }

}