@media (max-width: 1400px){
    .mid-content {
       
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
      }


}

@media(max-width: 1265px){
  .video-content-right p {
    font-size: 16px;
  
  }

  .video-content-right h3 {
    font-size: 28px;
   
    margin-bottom: 15px;
  }

  .banner-bottom {

    padding: 47px 0;
  }







}

@media(max-width: 1150px){

  .video-left {
    width: 100%;
  
  }

  .video-content-right {
    width: 100%;
    margin-top: 26px;
  }

  .service-box {
    width: 48%;
   

    margin-bottom: 7px;
  
  }

  .section-title h1 {
    font-size: 32px;
   
  }

  .service-box:nth-child(3n+3){
    margin-right: 20px;
    
    }
    







}






@media(max-width: 1050px){
    .primary-manu ul li a {
     
        padding: 0 12px;
        font-size: 16px;
   
      }

      .header-logo span {
      
        font-size: 21px;
     
      }


}

.primary-manu span{

display: none;

}


@media(max-width: 1000px){

  .service-box {
    width: 100%;
 
  
  }

  .section-title h1 {
    font-size: 22px;
  }

  .section-title p {
    font-size: 17px;
   

  }
  .section-title h2 {
    font-size: 34px;

  }


  .pricing-table-items {
    width: 100%;
  
  }

  .section-title h2 {
    font-size: 22px;
  }


  .member {
    width: 48%;
  
    margin-bottom: 18px;
  }

  .blogs-post-items img {
  
    width: 211px;
    margin-right: -16px;
  }
  .blog-post-content h3 {
    font-size: 20px;
    
  }


  .blogs-post-items {
 
    padding-right: 10px;
  padding-bottom: 10px;
  }

  .t-item {
    width: 100%;
   
    margin-left: 10px;
    margin-bottom: 46px;
  }

  .content-right-form {
    width: 100%;
  
  }

  .content-left-map {
    width: 100%;
  }

  .footer-contact-form .submit-btn {
    margin-left: ;
  }

  .submit-btn {
    
    color: red;
   
  
    padding: 14px 40px;
   
  }






}









@media(max-width: 850px){

    .header-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
      .header-logo img {
  
        float: inherit;
      }

      .header-logo span {
       
        position: relative;
        top: -63px;
       
      }
   
      .primary-manu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }

      .header-manu {
        width: 100%;
      }

      .header-button {
        
            width: 200px;
            position: absolute;
            right: 10px;
            top: 167px;
         
      }

      .primary-manu span {
        font-size: 35px;
        color: blue;
        cursor: pointer;
        display: block;
      }



}

@media(max-width: 768px){
  .banner-content h2 {
    font-size: 36px;
   
  }
  .defult-btn {
  
    padding: 13px 16px;
   
    font-size: 17px;
 
  }

  .header-section {
   
    position: relative;
    
  }


  .banner-section {
  
    margin-top: 0;
  }

  .banner-section {
   
    
    padding: 200px 0;
   
    
  }

  .member {
    width: 100%;
    
  }

  .submit-btn {

    color: red;
    font-size: 18px;
   
    padding: 8px 18px;
   
  }

  .defult-input {
 
    
    width: 206px;
    padding: 14px 11px;
    font-size: 13px;
  
    
  }

  .b-heading h2 {
    font-size: 26px;
  }


  .bt-content p {
   
    font-size: 16px;
  
  }

  .news-letter-section {
    background: #f7f9ff;
    padding: 80px 0;
  }

  .blogs-post-items {
    width: 100%;
    
  }






















}

@media(max-width: 410px){
  .section-title h1 {
    font-size: 14px;
  }



  .section-title p {
    font-size: 11px;
    color: green;
  }

  .s-content p {
    font-size: 15px;
    line-height: 24px;
   
  }


  .s-content h3 {
    font-size: 21px;
 
  }


  .s-icon {
  
   
    height: 94px;
    font-size: 24px;
    color: red;
  }






}



















@media(max-width: 386px){
  .banner-content h2 {
    font-size: 28px;
  }

  .banner-content h3 {
    font-size: 20px;
 
  }

  .defult-btn {
   
    display: block;
    width: 50%;
    margin-top: 10px;
  }


  .banner-content h2 {
  
    margin: 17px 0;
  }

  .banner-section {
   
    padding: 108px 0;
   
  }







}